@page "/local-hugerte-install"
@rendermode InteractiveServer
@inject IConfiguration Configuration

<PageTitle>Local HugeRTE Install</PageTitle>

<h1>Local HugeRTE Install</h1>

<p>Shows how to load HugeRTE from a local install</p>

<Editor
  ScriptSrc="lib/hugerte/hugerte.min.js"
/>
